@charset "UTF-8";
 @font-face {
    font-family: passio;
    src: url('fontes/Cookie/PassionOne-Black.ttf') format(truetype);
 }
 @font-face {
    font-family: paragrafo;
    src: url('fontes/Cookie/PassionOne-Regular.ttf');
 }

body{
    
}

header {
    background-color: black;
    color: rgba(228, 226, 226, 0.89);
    text-align: center;
    margin: auto;
    padding:20px ;
    padding-left: 50px;
    font-size: 2em;
    font-family: passio;
}

header > p{
    color: aliceblue;

}
a{
    color: aliceblue;    
}

section{
    font-size: 2em;
}

section > pre{
    white-space: pre-line;
    font-family: paragrafo;
}

footer{
    background-color: rgb(163, 163, 163);
    text-align: center;
}
footer > p{
    color: rgb(0, 0, 0);
}
footer > a#q1{
    color: rgb(0, 0, 0);
}
